<FilesMatch "^\.env.*">
    Require all denied
</FilesMatch>

<Files "volunteer">
    ForceType application/x-httpd-php
</Files>
<Files "api">
    ForceType application/x-httpd-php
</Files>
<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
</IfModule>

# Enable URL rewriting
<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Route verification API endpoints to verification-api.php
    #RewriteRule ^api/verification/(.*)$ verification-api.php/$1 [QSA,L]
    RewriteRule ^registration\.html$ /register.html [L,R=301]
</IfModule>
