<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/bootstrap.php"
         colors="true"
         verbose="true"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="APP_DEBUG" value="true"/>
        <env name="MONGODB_DATABASE" value="givehub_test"/>
        <env name="MONGODB_HOST" value="localhost"/>
        <env name="MONGODB_PORT" value="27017"/>
        <env name="MONGODB_USERNAME" value=""/>
        <env name="MONGODB_PASSWORD" value=""/>
        <env name="JWT_SECRET" value="test_secret_key"/>
        <env name="STORAGE_PATH" value="storage/test"/>
    </php>
    <coverage>
        <include>
            <directory suffix=".php">lib</directory>
        </include>
        <exclude>
            <directory>vendor</directory>
            <directory>tests</directory>
        </exclude>
    </coverage>
</phpunit>
