<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/bootstrap.php"
         colors="true"
         verbose="true"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="The Give Hub API Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">lib</directory>
        </whitelist>
    </filter>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="MONGODB_DATABASE" value="givehub_test"/>
        <env name="JUMIO_API_TOKEN" value="test_token"/>
        <env name="JUMIO_API_SECRET" value="test_secret"/>
        <env name="STELLAR_NETWORK" value="testnet"/>
    </php>
</phpunit>
